html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    background-color: blanchedalmond;
}

header {
    background-color: green;
}
header p {
    color: white;
    text-align: center;
}
.aside-one h2, .aside-two h2, .main-content h1{
    background-color: white;
    text-align: center;
}
header ul {
  list-style-type:none;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  padding-bottom: 10px;
}
.aside-one , .aside-two{
  list-style-type:none;
}
.aside-one ul, .aside-two ul{
  list-style-type:none;
}

@media screen and (max-width: 480px) {
  header ul{
    display: none;    
  }
  header p {
    font-size: x-large;
  }
  .aside-one , .aside-two{
    text-align: center;
    font-size: larger;
  }
  .aside-one ul, .aside-two ul{
    margin-right: 40px;
  }
  .main-content p {
    font-size: x-large;
    margin: 30px 0;
  }
  footer h3{
    text-align: center;
  }
  footer p{
    font-size: larger;
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  header p {
    font-size: x-large;
    display: flex;
    flex-direction: column;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(24, 201, 53);
  }
  .aside-one , .aside-two{
    text-align: center;
    font-size: larger;
  }
  .aside-one ul, .aside-two ul{
    margin-right: 40px;
  }
  .main-content p {
    font-size: 21px;
    margin: 25px 0;
  }
  footer h3{
    font-size: small;
  }
  footer p{
    font-size: smaller;
  }
}

@media screen and (min-width: 1024px) {
  header p {
    font-size: 40px;
    margin-bottom: -3px;
    padding: 10px 0;
  }
  header ul {
    /* margin-top: -0px; */
    margin-bottom: -5px;
    padding-bottom: 20px;
  }
  .colunas {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }
  footer h3{
    margin-top: 50px;
  }
}